* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 1920px;
  margin-inline: 1rem;
}
header * {
  color: crimson;
}
header a {
  font-size: 0.8rem;
}
.readmore {
  display: block;
}

.catcard {
  max-width: 100%;
  height: auto;
  margin-block: 1rem;
  margin-inline: 0.2rem;
  border-radius: 1rem;
  background-color: lightgray;
  padding: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: crimson;
}
a:hover {
  color: rgb(255, 119, 0);
  transition: 0.3s;
}
select {
  background-color: white;
  border: none;
  margin-left: 1rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
h1 {
  margin-block: 1rem;
}
.prodcard {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 0.4rem;
  font-size: 0.7rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}
.prodcard a {
  margin-top: auto;
}

.tilbud div,
.salg,
span {
  display: none;
}

.vis,
.prodbrand,
.prodstyle,
.prodpris,
.tilbud .pris,
.realpris,
.proddiscount,
.nupris {
  display: inline;
}

.udsolgt img {
  opacity: 0.2;
}

.udsolgt::before {
  content: "UDSOLGT";
  background-color: black;
  color: white;
  padding: 0.2rem;
  position: absolute;
}
.produktmain > * {
  margin: 3rem 1rem;
}
.logo h1 {
  font-size: 3rem;
}
.prodbeskrivelse {
  margin-block: auto;
}

.inspectcard {
  background-color: lightgray;
  padding: 1rem;
  border-radius: 0.5rem;
}
.inspectcard a {
  color: black;
}
.inspectcard > * {
  margin-bottom: 2rem;
}
.addbutton {
  text-align: center;
  background-color: white;
  padding: 0.2rem 2rem;
  border-radius: 0.5rem;
}
dl {
  margin-top: 1rem;
}
dt {
  font-weight: bold;
  margin-block: 0.3rem;
}
dd {
  margin-left: 0.3rem;
}
.catchphrase h2 {
  color: crimson;
}
article.tilbud .salg {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 600px) {
  .inspectcard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .inspectcard h2 {
    font-size: 3rem;
  }
  .inspectcard p {
    font-size: 1.5rem;
  }
  .inspectcard form {
    font-size: 1.5rem;
  }
  .addbutton {
    font-size: 1.5rem;
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
  }
  .inspectcard a {
    color: black;
  }
  .prodinfo {
    background-color: lightgray;
    width: 50%;
    padding: 1rem;
  }
  .prodcard {
    width: 85%;
    height: 100%;
  }
  .prodcard h3 {
    font-size: 1.8rem;
  }
  .prodcard p {
    font-size: 1rem;
  }
  .prodcard a {
    font-size: 1.2rem;
  }
  .produktgrid h3 {
    font-size: 2rem;
  }

  .catcard {
    margin-right: 3rem;
  }
  .logo h1 {
    font-size: 5rem;
  }
  header a {
    font-size: 1.4rem;
  }
  .catchphrase h2 {
    font-size: 3rem;
  }
  .catchphrase p {
    font-size: 1.5rem;
  }
}
